<html lang="pt">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edit Account</title>

  <!-- Custom fonts for this template-->
  <link href="/templates/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/templates/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/templates/css/sb-admin.css" rel="stylesheet">

  <style>
    #container {
      height: 100%;
      width: 100%;
    }

    #left-column {
      float: left;
      border: 1px;
      width: 50%;
      height: inherit;
    }

    #right-column {
      float: left;
      width: 50%;
      display: block;
      height: inherit;
      padding: 5px;
    }

    #logoutForm {
      position: absolute;
      right: 10px;
      top: 25%;
    }

    input[type=text],
    input[type=email],
    input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    #footer {
      width: 100%;
      position: fixed;
      background-color: #0080ff;
    }
  </style>

</head>

<body id="page-top" style="background-color: lightgrey;">

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand navbar-dark bg-primary static-top" id="navbar" style=" background-color: white">
    <a class="navbar-brand mr-1" href="/"> <i class="fa fa-home" style="font-size:20px"></i> User Authentication
      Application</a>
    <form action="/logout?_method=DELETE" method="post" id="logoutForm">
      <i class="fas fa-sign-out-alt" style="color: white;"></i> <button type="submit"
        style="color: white; text-align: left; border: none; background-color: transparent;">Logout</button>
    </form>
  </nav>

  <div id="wrapper">

    <!-- SIDEBAR -->
    <ul class="sidebar navbar-nav navbar-dark" style="background-color: #333333;">

      <li class="nav-item">
        <a class="nav-link" href="/link-account" style="color: white;">
          &nbsp<i class="fas fa-user-circle"></i>
          <span>&nbspLink Account</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/see-accounts" style="color: white;">
          &nbsp<i class="fas fa-fw fa-folder"></i>
          <span>&nbspSee Accounts</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        {% if codeValue==1 %}
        <div class="alert alert-success" role="alert">
          You have successfully altered the accounts details in the UAP!
        </div>
        {% elif codeValue==2 %}
        <div class="alert alert-danger" role="alert">
          Incorrect UAP Authentication Key!
        </div>
        {% elif codeValue==3 %}
        <div class="alert alert-warning" role="alert">
          You haven't altered any account details!
        </div>
        {% elif codeValue==4 %}
        <div class="alert alert-danger" role="alert">
          A database error has occurred! Please try again later.
        </div>

        {% else %}
        {% endif %}

        <!-- ACCOUNT INFO -->
        <div class="card">

          <div class="card-header">

            <div id="container">

              <div id="left-column">

                <div class="container d-flex justify-content-left">
                  <div class="card p-4 mt-3">

                    <div class="first">
                      <h6 class="heading" style="text-align: center; padding-bottom: 5%;">
                        Welcome, edit the account's details here!
                      </h6>
                      <div class="time d-flex flex-row align-items-center justify-content-between">
                      </div>

                      <div class="second">
                        <div class="image" style="text-align: center;"> <img src="/templates/imagens/person_icon.png"
                            class="rounded-circle" width="75" />
                        </div>
                      </div>
                      <h6 class="heading" style="text-align: center; padding-top: 5%;">
                        The data here is used to authenticate in <b>{{showDNS}}</b> using the UAP.<p></p>
                        <b style="color: red;">Do not change data here unless you change it in {{showDNS}} first!</b>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="right-column">

              <div class="row justify-content-start" style="padding-top:10px;">
                <label>DNS</label>
              </div>
              <div class="row justify-content-center" style="padding-top:10px;">
                <input class="form-control" value="{{showDNS}}" readonly></input>
              </div>

              <div class="row justify-content-start" style="padding-top:10px;">
                <label>Email</label>
              </div>

              <div class="row justify-content-start" style="padding-top:10px;">
                <input class="form-control" value="{{showEmail}}" readonly></input>
              </div>

              <div class="row justify-content-start" style="padding-top:40px;">
                <button id="alterKeyBtn" class="btn btn-primary" onclick="showPassForm()">Edit Account</button>
              </div>
            </div>
          </div>
        </div>

        <!-- ALTER ACCOUNT DETAILS -->
        <div class="card mb-3" id="alterKeyForm" style="visibility: hidden;">
          <div class="card-header">

            <form action="/alter-data" method="post">
              <div class="register-form">

                <label for="text"><b>Email</b></label>
                <i class="fas fa-pen" id="toggleEmail" style="cursor: pointer; padding-left: 0.5%;"
                  onclick="readEmail()"></i>
                <b style="color: red; padding-left: 1%;"> If you edit this field and submit, the email used by the UAP
                  for authenticating this account will change!</b>
                <input type="email" name="id_mail" required="" id="id_mail" value="{{showEmail}}" readonly>

                <label for="password"><b>Password</b></label>
                <i class="fas fa-pen" id="togglePassword" style="cursor: pointer; padding-left: 0.5%;"
                  onclick="readPassword()"></i>
                <b style="color: red; padding-left: 1%;"> If you edit this field and submit, the password used by the
                  UAP for authenticating this account will change!</b>
                <input type="password" name="id_pass" required="" id="id_pass" readonly>

                <label for="text"><b>Authentication Key</b></label>
                <input type="password" name="id_key" required="" id="id_key">

                <button type="submit" class="btn btn-primary">Confirm</button>
                <button type="reset" class="btn btn-primary" onclick="hidePassForm()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <footer class="sticky-footer" id="footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
      </div>
    </div>
  </footer>
  </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/templates/vendor/jquery/jquery.min.js"></script>
  <script src="/templates/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/templates/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/templates/js/sb-admin.min.js"></script>

  <!-- Prevent form resend on refresh -->
  <script>
    if (window.history.replaceState) {
      window.history.replaceState(null, null, window.location.href);
    }
  </script>

  <!-- Show password alteration form -->
  <script>
    function showPassForm() {
      document.getElementById("alterKeyBtn").disabled = true
      var x = document.getElementById("alterKeyForm");
      if (x.style.visibility === "hidden") {
        x.style.visibility = "visible";
        alterPassBtn.visibility = "hidden";
      }
      else {
        x.style.visibility = "hidden";
      }
    }
  </script>

  <!-- Hide password alteration form -->
  <script>
    function hidePassForm() {
      document.getElementById("alterKeyBtn").disabled = false
      var x = document.getElementById("alterKeyForm");
      if (x.style.visibility === "hidden") {
        x.style.visibility = "visible";
      }
      else {
        x.style.visibility = "hidden";
      }
      document.getElementById("id_pass").readOnly = true
      document.getElementById("id_mail").readOnly = true
    }
  </script>

  <!-- Allow Password Edit -->
  <script>
    function readPassword() {
      if (document.getElementById("id_pass").readOnly == true) {
        document.getElementById("id_pass").readOnly = false
      }
      else {
        document.getElementById("id_pass").readOnly = true
      }
    }
  </script>

  <!-- Allow Email Edit -->
  <script>
    function readEmail() {
      if (document.getElementById("id_mail").readOnly == true) {
        document.getElementById("id_mail").readOnly = false
      }
      else {
        document.getElementById("id_mail").readOnly = true
      }
    }
  </script>
</body>

</html>