<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>503 Error</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <style>
        h1 {
            text-align: center;
            padding-bottom: 1%;
            font-size: 500%;
        }

        h5 {
            text-align: center;
            padding-top: 5%;
            font-size: 300%;
        }

        h6 {
            text-align: center;
            vertical-align: bottom;
            padding-top: 5%;
            font-size: 150%;
        }

        #footer {
            position: fixed;
            background-color: #212529;
            width: 100%;
        }

        #footer_image {
            width: 100%;
            height: 70px;
        }
    </style>

</head>

<body id="page-top">

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top" id="navbar">
        <a class="navbar-brand mr-1" href="/"> <i class="fa fa-home" style="font-size:20px"></i> Film Review Website</a>
    </nav>

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">

                <!-- MENSAGEM DE ERRO-->
                <div class="card mb-3">

                    <div class="card-header">
                        <h1>503 - OOPS!</h1>
                        <h5>The server you were redirected to is unavailable.</h5>
                        <h6><a href="/">Return to home page</a></h6>
                    </div>
                </div>

                <!-- FOOTER DO WEBSITE -->
                <footer class="sticky-footer" id="footer">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <img id="footer_image" src="/Imagens/footer_image.png" alt="star_rating" style="width: auto"
                                ; />
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin.min.js"></script>

</body>

</html>